/* Media Query for smaller screens */
@media (max-width: 768px) {
    .flex-wrap {
      flex-direction: column;
    }
    
    img {
      width: 100%;
      height: auto;
    }
    
    h2 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
    
    .text-lg {
      font-size: 1rem;
    }
  }
  